._3Qa4dn5YlokOkxn6RsnEsL_0 {
    float: left;
    height: 40px;
    width: 94px;
    margin-left: 15px;
    margin-top: 10px;
}

._3vO43FIQUVjwt0C2tAdt18_0 {
    width: 100%;
    height: 100%;
    display: block;
    background-image: url(https://i.postimg.cc/Zq2Dh5GM/image.png);
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 14px;
    color: #FFC961;
    font-weight: 400;
    padding: 11px 0 0 51px;
    -webkit-animation: vSjmRfNwCMTeWWkR3oFqk_0 0.5s ease-in-out both;
    animation: vSjmRfNwCMTeWWkR3oFqk_0 0.5s ease-in-out both;
}

._3vO43FIQUVjwt0C2tAdt18_0:hover {
    color: #ffd875;
}

._3Qa4dn5YlokOkxn6RsnEsL_0 ._132gdSyOmE_xeGHq29VRWs_0 {
    height: 25px;
}

._3Qa4dn5YlokOkxn6RsnEsL_0 ._3Ubt5Kb0tzjaH5xmkg9Tsb_0 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
    z-index: 1000;
}

._3Qa4dn5YlokOkxn6RsnEsL_0 ._2AgMLVEWnG2G2tsMt5tUSz_0 {
    position: fixed;
    left: -webkit-calc(50% - 320px);
    left: calc(50% - 320px);
    top: -webkit-calc(50% - 225px);
    top: calc(50% - 225px);
    width: 640px;
    height: 450px;
    background-color: #310661;
    z-index: 1000;
    border-radius: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #FAD9BD;
}

._3Qa4dn5YlokOkxn6RsnEsL_0 ._2AgMLVEWnG2G2tsMt5tUSz_0 h3 {
    font-size: 20px;
    line-height: 28px;
    margin: 40px 0 20px;
}

._3Qa4dn5YlokOkxn6RsnEsL_0 ._2AgMLVEWnG2G2tsMt5tUSz_0 p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

._3Qa4dn5YlokOkxn6RsnEsL_0 ._39D1RAEEwJi-QGXkyw277T_0 {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

._3Qa4dn5YlokOkxn6RsnEsL_0 ._1O8nCpYMDgdl7lPcLylrfe_0 {
    width: 260px;
    height: 260px;
    background-image: url(//cdn2.jianshu.io/assets/web/lucky-bdbb97f528fe34c94d3ba2084dd8ee12.png);
    background-size: cover;
    margin-top: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

._3Qa4dn5YlokOkxn6RsnEsL_0 ._1O8nCpYMDgdl7lPcLylrfe_0:hover {
    background-image: url(//cdn2.jianshu.io/assets/web/lucky_mask-6b3a5a954b941b9970bc1cd1d5e5c009.png);
}

._3Qa4dn5YlokOkxn6RsnEsL_0 ._1O8nCpYMDgdl7lPcLylrfe_0:hover ._1rFoTWJ6ilgfrEgr1B0N17_0 {
    display: block;
}

._3Qa4dn5YlokOkxn6RsnEsL_0 ._1O8nCpYMDgdl7lPcLylrfe_0:hover .bXIcYE3xR4Lp_WXjOacox_0 {
    display: none;
}

._3Qa4dn5YlokOkxn6RsnEsL_0 .bXIcYE3xR4Lp_WXjOacox_0 {
    width: 60px;
    cursor: pointer;
    -webkit-animation: _3_2QssXSmvVsuH7c3zzgUu_0 1.1s infinite;
    animation: _3_2QssXSmvVsuH7c3zzgUu_0 1.1s infinite;
}

._3Qa4dn5YlokOkxn6RsnEsL_0 ._1rFoTWJ6ilgfrEgr1B0N17_0 {
    width: 114px;
    height: 114px;
    padding: 5px;
    display: none;
    background: #fff;
    border-radius: 2px;
}

._3Qa4dn5YlokOkxn6RsnEsL_0 ._1iqOq9b3tAE-rqt7zhdHlb_0 {
    width: 100px;
    height: 100px;
    -o-object-fit: cover;
    object-fit: cover;
}

._3Qa4dn5YlokOkxn6RsnEsL_0 ._1IaOtCfm_jIFpTNmsLGkV-_0 {
    width: 290px;
    height: 202px;
    margin-bottom: 10px;
    background-image: url(//cdn2.jianshu.io/assets/web/download_app_bg-31e153aaa71c3af9e203923a99d65b6b.png);
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: center 32px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    text-align: center;
}

._3Qa4dn5YlokOkxn6RsnEsL_0 ._1IaOtCfm_jIFpTNmsLGkV-_0 p {
    position: relative;
    top: -2px;
}

._3Qa4dn5YlokOkxn6RsnEsL_0 ._3FiiURYYkjQuyrvSikEtbH_0 {
    width: 80px;
    height: 80px;
    margin-bottom: 12px;
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

._3Qa4dn5YlokOkxn6RsnEsL_0 ._3FiiURYYkjQuyrvSikEtbH_0 img {
    width: 70px;
    height: 70px;
}

._3Qa4dn5YlokOkxn6RsnEsL_0 ._2xNY9e3AU5tuGnfj4CM57H_0 {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 48px;
    height: 48px;
    background-image: url(//cdn2.jianshu.io/assets/web/close_btn-80477c84c5ce7dc8c5f2925690546db2.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

@-webkit-keyframes _3_2QssXSmvVsuH7c3zzgUu_0 {
    0% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

@keyframes _3_2QssXSmvVsuH7c3zzgUu_0 {
    0% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

@-webkit-keyframes vSjmRfNwCMTeWWkR3oFqk_0 {
    2% {
        -webkit-transform: translate(1.5px, 1.5px) rotate(-0.5deg);
        transform: translate(1.5px, 1.5px) rotate(-0.5deg);
    }

    8% {
        -webkit-transform: translate(-1.5px, 1.5px) rotate(1.5deg);
        transform: translate(-1.5px, 1.5px) rotate(1.5deg);
    }

    16% {
        -webkit-transform: translate(1.5px, 2.5px) rotate(-0.5deg);
        transform: translate(1.5px, 2.5px) rotate(-0.5deg);
    }

    24% {
        -webkit-transform: translate(1.5px, -0.5px) rotate(0.5deg);
        transform: translate(1.5px, -0.5px) rotate(0.5deg);
    }

    32% {
        -webkit-transform: translate(2.5px, 0.5px) rotate(0.5deg);
        transform: translate(2.5px, 0.5px) rotate(0.5deg);
    }

    40% {
        -webkit-transform: translate(-1.5px, -0.5px) rotate(1.5deg);
        transform: translate(-1.5px, -0.5px) rotate(1.5deg);
    }

    48% {
        -webkit-transform: translate(1.5px, 1.5px) rotate(1.5deg);
        transform: translate(1.5px, 1.5px) rotate(1.5deg);
    }

    56% {
        -webkit-transform: translate(0.5px, 0.5px) rotate(-0.5deg);
        transform: translate(0.5px, 0.5px) rotate(-0.5deg);
    }

    64% {
        -webkit-transform: translate(-1.5px, -1.5px) rotate(1.5deg);
        transform: translate(-1.5px, -1.5px) rotate(1.5deg);
    }

    72% {
        -webkit-transform: translate(1.5px, 2.5px) rotate(1.5deg);
        transform: translate(1.5px, 2.5px) rotate(1.5deg);
    }

    80% {
        -webkit-transform: translate(0.5px, 2.5px) rotate(1.5deg);
        transform: translate(0.5px, 2.5px) rotate(1.5deg);
    }

    88% {
        -webkit-transform: translate(2.5px, 1.5px) rotate(-0.5deg);
        transform: translate(2.5px, 1.5px) rotate(-0.5deg);
    }

    96% {
        -webkit-transform: translate(0.5px, 2.5px) rotate(-0.5deg);
        transform: translate(0.5px, 2.5px) rotate(-0.5deg);
    }

    98% {
        -webkit-transform: translate(2.5px, 0.5px) rotate(1.5deg);
        transform: translate(2.5px, 0.5px) rotate(1.5deg);
    }

    0%,
    100% {
        -webkit-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }
}

@keyframes vSjmRfNwCMTeWWkR3oFqk_0 {
    2% {
        -webkit-transform: translate(1.5px, 1.5px) rotate(-0.5deg);
        transform: translate(1.5px, 1.5px) rotate(-0.5deg);
    }

    8% {
        -webkit-transform: translate(-1.5px, 1.5px) rotate(1.5deg);
        transform: translate(-1.5px, 1.5px) rotate(1.5deg);
    }

    16% {
        -webkit-transform: translate(1.5px, 2.5px) rotate(-0.5deg);
        transform: translate(1.5px, 2.5px) rotate(-0.5deg);
    }

    24% {
        -webkit-transform: translate(1.5px, -0.5px) rotate(0.5deg);
        transform: translate(1.5px, -0.5px) rotate(0.5deg);
    }

    32% {
        -webkit-transform: translate(2.5px, 0.5px) rotate(0.5deg);
        transform: translate(2.5px, 0.5px) rotate(0.5deg);
    }

    40% {
        -webkit-transform: translate(-1.5px, -0.5px) rotate(1.5deg);
        transform: translate(-1.5px, -0.5px) rotate(1.5deg);
    }

    48% {
        -webkit-transform: translate(1.5px, 1.5px) rotate(1.5deg);
        transform: translate(1.5px, 1.5px) rotate(1.5deg);
    }

    56% {
        -webkit-transform: translate(0.5px, 0.5px) rotate(-0.5deg);
        transform: translate(0.5px, 0.5px) rotate(-0.5deg);
    }

    64% {
        -webkit-transform: translate(-1.5px, -1.5px) rotate(1.5deg);
        transform: translate(-1.5px, -1.5px) rotate(1.5deg);
    }

    72% {
        -webkit-transform: translate(1.5px, 2.5px) rotate(1.5deg);
        transform: translate(1.5px, 2.5px) rotate(1.5deg);
    }

    80% {
        -webkit-transform: translate(0.5px, 2.5px) rotate(1.5deg);
        transform: translate(0.5px, 2.5px) rotate(1.5deg);
    }

    88% {
        -webkit-transform: translate(2.5px, 1.5px) rotate(-0.5deg);
        transform: translate(2.5px, 1.5px) rotate(-0.5deg);
    }

    96% {
        -webkit-transform: translate(0.5px, 2.5px) rotate(-0.5deg);
        transform: translate(0.5px, 2.5px) rotate(-0.5deg);
    }

    98% {
        -webkit-transform: translate(2.5px, 0.5px) rotate(1.5deg);
        transform: translate(2.5px, 0.5px) rotate(1.5deg);
    }

    0%,
    100% {
        -webkit-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }
}





.style-mode {
    float: right
}